body {
    padding: 0;
    margin: 0;
}

#menu {
    display: flex;
    background-color: gray;
    font-size: 15px;
    font-weight: bold;
    justify-items: right;
}

.collapse {
    display: flex;
    justify-content: center;
    visibility: hidden;
}

h3 {
    display: flex;
    font-size: 2.4rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    margin-bottom: 50px;
}

.cardapio {
    justify-content: center;
    align-content: center;

}
.comida-items {
    display: flex;
    background: gray;
    justify-content: center;
    align-content: center;
    flex-direction: column-reverse;
    padding: 2px;
    margin: 5px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.comida-items .t1 {
    align-self: center;
    justify-self: center;
    background: red;
    padding: 3px;
    color: black;
    border: solid 2px black;
}

.comida-items .t2 {
    align-self: center;
    justify-self: center;
    background: yellow;
    padding: 3px;
    color: black;
    border: solid 2px black;
}
.comida-items .t3 {
    align-self: center;
    justify-self: center;
    background: lightcoral;
    padding: 3px;
    color: black;
    border: solid 2px black;
}

@media screen and (max-width: 991px) {
    .collapse {
        visibility: visible;
        
    }
    .collapse ul li {
        display: flex;
        justify-content: center;
        align-content: center;
    }
}